<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire1</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, ['username']</h1>
        <h2>Answer the following questions:</h2>
        <form method="POST" action="{{ url_for('questionnaire2') }}">
            <div class="question">
                <label>1.Do you worry a lot or are in constant fear?</label><br>
                <input type="radio" name="question1" id="question1" value="Yes"> Yes
                <input type="radio" name="question1" id="question1" value="No"> No
            </div>
            <div class="question">
                <label>2.Do you feel restless and irritable frequently?</label><br>
                <input type="radio" name="question2" value="Yes"> Yes
                <input type="radio" name="question2" value="No"> No
            </div>
            <div class="question">
                <label>3.Do you have difficulty in concentrating or making decisions?</label><br>
                <input type="radio" name="question3" value="Yes"> Yes
                <input type="radio" name="question3" value="No"> No
            </div>
            <div class="question">
                <label>4.Do you have muscle tension?</label><br>
                <input type="radio" name="question4" value="Yes"> Yes
                <input type="radio" name="question4" value="No"> No
            </div>
            <div class="question">
                <label>5.Do you have frequent panic attacks?</label><br>
                <input type="radio" name="question5" value="Yes"> Yes
                <input type="radio" name="question5" value="No"> No
            </div>
            <div class="question">
                <label>6.Is your sleep disturbed regularly?</label><br>
                <input type="radio" name="question6" value="Yes"> Yes
                <input type="radio" name="question6" value="No"> No
            </div>
            <div class="question">
                <label>7.Do you get heart palpitations, or do you sweat or tremble frequently?</label><br>
                <input type="radio" name="question7" value="Yes"> Yes
                <input type="radio" name="question7" value="No"> No
            </div>
            <div class="question">
                <label>8.Do you feel constant physical pain and ache?</label><br>
                <input type="radio" name="question8" value="Yes"> Yes
                <input type="radio" name="question8" value="No"> No
            </div>
            <div class="question">
                <label>9.Do you persistently feel low or sad or hopelessness?</label><br>
                <input type="radio" name="question9" value="Yes"> Yes
                <input type="radio" name="question9" value="No"> No
            </div>
            <div class="question">
                <label>10.Do you have fatigue, low energy and low motivation all the time?</label><br>
                <input type="radio" name="question10" value="Yes"> Yes
                <input type="radio" name="question10" value="No"> No
            </div>
            <!-- Added all the questions from questionaire and chaned the name attr for all the questions to unique ones-->
            <!-- Why are all questions separately contained in div? -->
            <div class="question">
                <label>11.Has their been a significant change in your appetite recently?</label><br>
                <input type="radio" name="question11" value="Yes"> Yes
                <input type="radio" name="question11" value="No"> No
            </div>
            <div class="question">
                <label>12.Have you gain or lost significant amount of weight in a short period of time recently?</label><br>
                <input type="radio" name="question12" value="Yes"> Yes
                <input type="radio" name="question12" value="No"> No
            </div>
            <div class="question">
                <label>13.Do you have suicidal thoughts, be it sometimes or frequently?</label><br>
                <input type="radio" name="question13" value="Yes"> Yes
                <input type="radio" name="question13" value="No"> No
            </div>

            <!-- <form action="/questionnaire2" method="post"> -->
            <button type="submit">Next</button>
            <!-- </form> -->
        

    </form>
        
    </div>
</body>
</html>
