<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire2</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<!-- <body>
    <div class="container">
        <h1>Welcome, ['username']</h1>
        <h2>Answer the following questions:</h2>
        <form method="post" action="{{ url_for('predict') }}">
            <div class="question">
                <label>14.Do you have excessively increased energy or activity level?</label><br>
                <input type="radio" name="question14" value="Yes"> Yes
                <input type="radio" name="question14" value="No"> No
            </div>
            <div class="question">
                <label>15.Are you having frequent mood swings with heavy fluctuations?</label><br>
                <input type="radio" name="question15" value="Yes"> Yes
                <input type="radio" name="question15" value="No"> No
            </div>
            <div class="question">
                <label>16.Are you constantly taking reckless or impulsive decisions?</label><br>
                <input type="radio" name="question16" value="Yes"> Yes
                <input type="radio" name="question16" value="No"> No
            </div>
            <div class="question">
                <label>17.Are you having frequent hallucinations or delusions?</label><br>
                <input type="radio" name="question17" value="Yes"> Yes
                <input type="radio" name="question17" value="No"> No
            </div>
            <div class="question">
                <label>18.Are you trying to isolate yourself from the society constantly?</label><br>
                <input type="radio" name="question18" value="Yes"> Yes
                <input type="radio" name="question18" value="No"> No
            </div>
            <div class="question">
                <label>19.Are your thoughts disorganised?</label><br>
                <input type="radio" name="question19" value="Yes"> Yes
                <input type="radio" name="question19" value="No"> No
            </div>
            <div class="question">
                <label>20.Are you having difficulty in performing daily activities?</label><br>
                <input type="radio" name="question20" value="Yes"> Yes
                <input type="radio" name="question20" value="No"> No
            </div>
            <div class="question">
                <label>21.Do you have frequent intrusive thoughts?</label><br>
                <input type="radio" name="question21" value="Yes"> Yes
                <input type="radio" name="question21" value="No"> No
            </div>
            <div class="question">
                <label>22.Are their any regular repetitive behaviour in your daily life?</label><br>
                <input type="radio" name="question22" value="Yes"> Yes
                <input type="radio" name="question22" value="No"> No
            </div>
            <div class="question">
                <label>23.Do you feel anxious regularly?</label><br>
                <input type="radio" name="question23" value="Yes"> Yes
                <input type="radio" name="question23" value="No"> No
            </div>
            <div class="question">
                <label>24.Do you have frequent flashbacks?</label><br>
                <input type="radio" name="question24" value="Yes"> Yes
                <input type="radio" name="question24" value="No"> No
            </div>
            <div class="question">
                <label>25.Are you actively trying to avoid reminders of trauma?</label><br>
                <input type="radio" name="question25" value="Yes"> Yes
                <input type="radio" name="question25" value="No"> No
            </div>
            <div class="question">
                <label>26.Do you feel detached or numb frequently?</label><br>
                <input type="radio" name="question26" value="Yes"> Yes
                <input type="radio" name="question26" value="No"> No
            </div>
            <div class="question">
                <label>27.Are you frequently becoming highly alert about your surroundings?</label><br>
                <input type="radio" name="question27" value="Yes"> Yes
                <input type="radio" name="question27" value="No"> No
            </div>
            <button type="submit">Submit</button>
        

        </form>
    </div>
</body> -->

<body>
    <div class="container">
        <h1>Welcome, ['username']</h1>
        <h2>Answer the following questions:</h2>
        <form method="post" action="{{ url_for('predict') }}">
            <div class="question">
                <label>8.Do you have difficulty concentrating, organizing thoughts, or making decisions?</label><br>
                <input type="radio" name="question14" value="Yes"> Yes
                <input type="radio" name="question14" value="No"> No
            </div>
            <div class="question">
                <label>9.Do you feel unmotivated, struggle to perform daily activities, or withdraw from social interactions?</label><br>
                <input type="radio" name="question15" value="Yes"> Yes
                <input type="radio" name="question15" value="No"> No
            </div>
            <div class="question">
                <label>10.Do you often feel irritable or restless, with persistent tension in your body (e.g., muscle tension or trembling)?</label><br>
                <input type="radio" name="question16" value="Yes"> Yes
                <input type="radio" name="question16" value="No"> No
            </div>
            <div class="question">
                <label>11.Have you noticed frequent, extreme mood swings, alternating between periods of high energy and depressive episodes?</label><br>
                <input type="radio" name="question17" value="Yes"> Yes
                <input type="radio" name="question17" value="No"> No
            </div>
            <div class="question">
                <label>12.Do you feel a constant need to double-check things, repeat certain routines, or excessively clean or organize?</label><br>
                <input type="radio" name="question18" value="Yes"> Yes
                <input type="radio" name="question18" value="No"> No
            </div>
            <div class="question">
                <label>13.Have you noticed a significant decrease in your motivation, along with social withdrawal and difficulty functioning in daily life?</label><br>
                <input type="radio" name="question19" value="Yes"> Yes
                <input type="radio" name="question19" value="No"> No
            </div>
            <div class="question">
                <label>14.Do you often experience physical symptoms like headaches, pain, or fatigue without an apparent cause?</label><br>
                <input type="radio" name="question20" value="Yes"> Yes
                <input type="radio" name="question20" value="No"> No
            </div>

            <button type="submit">Submit</button>
        

        </form>
    </div>
</body>
</html>
